# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# SSH keys
*.pem
*.key
*.pub
nextcloud-ssh-key.pem

# Local files
*.exe
*.dll
